<h1 class="text-center">Aqui será o Dashboard</h1>

<div class="container">
    <%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Tem certeza que deseja sair?' }, class: 'btn btn-danger' %>
</div>
